* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

:root {
    --vibrantPurple: #8E2DE2;
    --deepBlue: #4A00E0;
    --brightCyan: #009FFF;
    --Indigo: #2E3192;

    --neonGreen: #39FF14;
    /* → CTA buttons (Add to cart, Buy now) */
    --electricOrange: #FF6B00;
    /* → Alerts / discounts / banners*/
    --cyberYellow: #FFD60A;
    /*→ Highlighted elements (tags, stars, ratings)*/
    --aquaBlue: #00F5D4;
    /* → Hover states / secondary buttons*/

    --White: #FFFFFF;
    /* → Backgrounds */
    --Off-White: #F5F5F5;
    /* → Cards, sections*/
    --CharcoalBlack: #111111;
    /* → Text headings */
    --SlateGray: #2C2C2C;
    /*→ Body text */
    --CoolGray: #9E9E9E;
    /*→ Borders / muted text*/
}

.logo {}

/* Top navbar  */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.search-bar {
    display: flex;
    justify-content: center;
    background-color: var(--brightCyan);
    border-radius: 50px;
    width: 40%;
    /* border: solid 1px black; */
    padding: 20px;
}

.search-bar input {
    color: var(--White);
    background-color: transparent;
    border: none;
    outline: none;
    margin: 0 5px;
    width: 90%;
}

.search-bar input::placeholder {
    color: var(--Off-White);
}

.search_bar input[type="text"] {
    flex-grow: 1;
    border: none;
    background-color: transparent;
    outline: none;
    font-size: 16px;
}

.search-bar button {
    font-size: larger;
    color: var(--White);
    background: none;
    border: none;
}

.nav-icons {
    display: flex;
    justify-content: space-around;
    width: 200px;
}

.nav-icons a {
    color: var(--White);
    padding: 10px;
    font-size: larger;
}

.nav-icons .cart_btn {
    background-color: var(--brightCyan);
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    border-radius: 50px;
}

.nav-icons .user_account {
    background-color: var(--brightCyan);
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    border-radius: 50px;
}

/* categories nav */

#category-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    background-color: var(--Indigo);
    margin-bottom: 5px;
}

.category_container {
    padding: 10px;
    display: flex;
    justify-content: start;
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: none;
    flex: 1;
}

.category {
    cursor: pointer;
    margin: 5px;
    padding: 5px 8px;
    font-size: small;
    border-radius: 20px;
    color: var(--Off-White);
    background-color: var(--brightCyan);
}

.scroll-btn {
    color: var(--Off-White);
    font-size: larger;
    padding: 10px;
    border: none;
    background-color: transparent;
    background: none;
    outline: none;
}